<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="Conection"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=OLAVE\OLAVE;Initial Catalog=DBSistemaVentas;Integrated Security=True;" />
  </connectionStrings>
</configuration>